@import "../../globals.css";

.inner-container::before {
  background-color: currentColor;
  bottom: 5px;
  content: "";
  display: block;
  left: 0;
  position: absolute;
  top: 2px;
  width: 5px;
}

.driver-container {
  transition: all 0.2s ease-in-out;
}

.driver-container:hover {
  transform: scale(1.1);
}
